Flask==3.1.3
langchain==0.3.26
langchain-community==0.3.27
langchain-openai==0.3.35
langchain-text-splitters==0.3.11
openai==2.38.0
pinecone==6.0.0
python-dotenv==1.2.2
pypdf==6.12.1
sentence-transformers==5.5.1
gunicorn==26.0.0
